:root {
    --brandpurple: #418859;
}

.lang-btn {
    font-size: small;
    padding: 1px 5px;
    background-color: unset;
    border: unset;
}

.lang-btn:hover {
    background-color: unset;
}

.lang-icon {
    width: 20px;
}

h1 {
    font-family: "Cherry Swash";
    text-transform: capitalize;
}

h2 {
    font-family: "Signika";
    margin-bottom: 10px;
    font-weight: 600;
}

h3 {
    font-family: "Signika";
}

p {
    font-family: 'Ubuntu' !important;
    line-height: 25px;
}

.hr {
    border: unset;
    background-color: var(--brandpurple) !important;
    border-top: 4px solid var(--brandpurple);
    width: 65px !important;
    margin: 0 !important;
    opacity: unset;
    text-align: center !important;
}

/* Upper Bar */
.upperBar {
    font-size: small;
    padding: 0;
    background-color: var(--brandpurple);
    color: white;
    font-size: 15px;
}

.upperBar .show .lang-btn,
.upperBar .dropdown .lang-btn {
    background-color: unset;
    box-shadow: 0 0 0 0.10rem rgb(255 255 255 / 20%) !important;
}

.upperBar .social a {
    color: rgb(235, 235, 235);
    font-size: 17px;
    text-decoration: none;
}

.upperBar .social a:hover {
    color: white;
}

.nav-bar .navlink {
    font-family: "Signika";
    font-size: 18px;
    text-transform: uppercase;
    margin: 0px 10px;
}

.nav-bar {
    margin-top: 30px;
    padding: 5px 0 5px;
    transition: all 0.4s;
    z-index: 100;
}

.nav-shadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.logo {
    height: 60px;
    border-radius: 5px;
}

.dropdown {
    z-index: 1000 !important;
}

.download-btn,
.subscribe-btn {
    font-family: "signika";
    background-color: var(--brandpurple);
    border-color: var(--brandpurple);
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.2s
}

.download-btn:hover,
.subscribe-btn:hover {
    background-color: rgba(255, 255, 255, 0.7);
    border-color: var(--brandpurple);
    color: var(--brandpurple);
}

/* Home */
#home {
    display: table;
    width: 100%;
    padding: 0;
    background: url(https://cdn.pickuplimes.com/cache/fd/ea/fdeac849c97f26cac33cf856f5e047d0.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#home .overlay {
    background: rgba(0, 0, 0, 0.1);
}

#home h1 {
    font-size: 50px;
}

#home p {
    font-size: 19px;
    margin: 0 auto;
    margin-bottom: 40px;
}

#home .intro-text {
    padding-top: 280px;
    padding-bottom: 175px;
}

/* About */
#about {
    padding: 50px 0 0;
}

#about .row {
    min-height: 500px;
}

#about .about-bg {
    background-image: url(https://shtheme.com/demosd/orgafe/wp-content/uploads/2019/04/bg4.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#about .about-header1 {
    color: var(--brandpurple);
    font-weight: 600px;
}

/* Why Choose Us */
#whychooseus .row {
    min-height: 450px;
}

#whychooseus .whychooseus-bg {
    background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/ingredients-for-spring-vegetable-buddha-bowl-royalty-free-image-656873420-1558126238.jpg?crop=0.707xw:1.00xh;0.147xw,0&resize=640:*);
    background-repeat: no-repeat;
    background-size: cover;
}


/* Our Services */
#features {
    padding: 110px 0 20px;
    background-image: url(https://shtheme.com/demosd/orgafe/wp-content/themes/orgafe/img/bg/bg14.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#features .feature-item {
    padding: 20px;
    border-radius: 4px;
    -webkit-box-shadow: 0 3px 6px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 10%);
    background-color: rgba(255, 255, 255, 0.3);
}

#features .featuresicon {
    font-size: 60px;
}

#features p {
    font-size: 14px;
    line-height: 20px;
}

/* testimonials */
#testimonial {
    padding: 100px 0 20px;
    text-align: center !important;
    background-image: url(https://shtheme.com/demosd/orgafe/wp-content/uploads/2019/04/bg9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#testimonial .item {
    margin: 0px 10px;
    background-color: white;
    padding: 66px 32px 77px 32px;
    border-radius: 10px;
}

#testimonial .owl-stage .owl-item img {
    border-radius: 50%;
    width: 75px;
    height: 75px;
}

#testimonial p {
    font-size: 18px;
    color: #6e6e6e;
    margin-bottom: 25px;
}

#testimonial span {
    font-size: 17px;
    font-family: 'signika';
    text-transform: uppercase;
}

/* FAQ */
#faq {
    padding: 110px 0 75px;
    background-image: url(https://shtheme.com/demosd/orgafe/wp-content/themes/orgafe/img/bg/bg14.jpg);
    background-size: inherit;
}

#faq h1 {
    font-family: "signika";
}

#faq .faq-title {
    display: unset;
    text-align: center !important;
}

#faq .faq-body {
    background-color: #F1F6FA;
}

#faq .faq-row {
    border: unset;
    margin-bottom: 9px;
}

#faq .faq-row .row-content-text {
    font-size: 14px;
    padding: 10px 10px;
    text-transform: inherit;
    line-height: 20px;
    font-family: "ubuntu" !important;
    padding-bottom: 20px;
}

#faq .row-title {
    font-family: "signika";
    padding: 10px 10px;
}

#faq p {
    margin-bottom: 0 !important;
}

/* Download */
#download {
    padding: 110px 0 50px;
}

#download .d-icon {
    font-size: 100px;
    margin-bottom: 75px;
}

#download .appgalleryCard,
#download .androidCard,
#download .iosCard {
    font-family: "signika";
    box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px;
    border-radius: 25px;
    padding: 75px 0;
    margin: 0 25px;
    transition: all 0.2s;
}

#download .appgalleryCard {
    border: 2px solid rgb(220, 53, 69, 0);
    background-color: rgba(255, 255, 255, 0.7);
}

#download .androidCard {
    border: 2px solid rgb(106, 220, 133, 0);
    background-color: rgba(255, 255, 255, 0.7);
}

#download .iosCard {
    border: 2px solid rgb(0, 0, 0, 0);
    background-color: rgba(255, 255, 255, 0.7);
}

#download .appgalleryCard:hover {
    border-radius: 25px;
    box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
    border: 2px solid rgb(220, 53, 69);
}

#download .androidCard:hover {
    border-radius: 25px;
    box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
    border: 2px solid rgb(106, 220, 133);
}

#download .iosCard:hover {
    border-radius: 25px;
    box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
    border: 2px solid rgb(0, 0, 0);
}

#download .appgalleryIcon {
    border-color: rgb(220, 53, 69);
    color: #DC3545;
}

#download .appgalleryIcon:hover {
    background-color: #DC3545;
    color: white;
}

#download .androidIcon {
    border-color: #6BDC85;
    color: #6BDC85;
}

#download .androidIcon:hover {
    background-color: #6BDC85;
    color: white;
}

#download .iosIcon {
    border-color: black;
    color: black;
}

#download .iosIcon:hover {
    background-color: black;
    color: white;
}

/* Subscribe */
#subscribe {
    background-image: url(https://shtheme.com/demosd/orgafe/wp-content/uploads/2019/04/bg11.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

#subscribe .overlay {
    background: rgba(0, 0, 0, 0.3);
}

#subscribe .container {
    padding: 40px 0 25px;
}

#subscribe .card {
    border-radius: 5px;
    transition: all 0.3s;
}

#subscribe .card:hover {
    box-shadow: rgba(255, 255, 255, 0.9) 0px 7px 29px 0px;
}

#subscribe .card button {
    font-family: "signika";
    padding: 10px 15px;
    background-color: var(--brandpurple);
    border-color: var(--brandpurple);
    text-transform: uppercase;
}

#subscribe .card button:hover {
    background-color: white;
    color: var(--brandpurple);
}

#subscribe .card-title {
    text-transform: uppercase;
    padding: 5px;
}

#subscribe li {
    font-family: 'ubuntu' !important;
    font-size: 14px;
}

#subscribe .fly-img {
    width: 65%;
}

#subscribe .plan-hr {
    width: 65%;
    opacity: unset;
}

#subscribe .price {
    font-family: "signika";
    margin: 30px 0 50px;
    font-size: 15px;
}

#subscribe .price span {
    font-family: "Cherry Swash";
    font-size: 30px;
}

/* Footer */
#footer {
    padding: 50px 0 0;
    line-height: 35px;
    background-image: url(https://shtheme.com/demosd/orgafe/wp-content/themes/orgafe/img/bg/bg14.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "ubuntu";
}

#footer .fotter-social {
    margin: 15px;
    padding: 12px;
    font-size: 50px;
    color: var(--brandpurple);
    border: 1px solid var(--brandpurple);
    border-radius: 50px;
    transition: all 0.5s;
}

#footer .fotter-social:hover {
    background-color: var(--brandpurple);
    color: white;
}

#footer a {
    text-decoration: none;
    margin: 0 10px;
    color: rgb(77, 76, 76);
}

#footer a:hover {
    text-decoration: none;
    color: black;
}

#footer .copy-right {
    border-top: 1px solid black;
    padding: 3px;
}