@font-face {
    font-family: "rudawregular2";
    src: url(./Assets/fonts/rudawregular2.ttf);
}

@font-face {
    font-family: "69_Sarchia_Omar";
    src: url(./Assets/fonts/69_Sarchia_Omar.ttf);
}

@font-face {
    font-family: "MolsaqArabicExtraBold";
    src: url(./Assets/fonts/MolsaqArabicExtraBold.ttf);
}

html,
body {
    font-family: ""  !important;
}

@media screen and (max-width: 600px) {
    #about,
    #features,
    #whychooseus,
    #faq,
    #testimonial,
    #download,
    #subscribe .container,
    #footer {
        width: 100% !important;
        margin: 0 !important;
        padding: 40px 20px !important;
    }

    #home h1 {
        font-size: 35px !important;
        margin-bottom: 35px !important;
    }

    #home .intro-text {
        padding-top: 200px !important;
        padding-bottom: 100px !important;
    }

    .nav-bar {
        margin-top: 18px !important;
        padding: 20px 0 8px !important;
    }

    .navbar-toggler {
        font-size: 1rem !important;
    }
    .background{
        background-size: auto  150%  !important;
    }
    #download {
        background-size: 300% 100% !important;
    }

    #download .appgalleryCard,
    #download .androidCard,
    #download .iosCard {
        padding: 50px !important;
        margin: 0 !important;
    }

    #subscribe .email-input {
        width: 240px !important;
    }

    #subscribe .subscribe-btn {
        font-size: 13px;
        width: 90px !important;
    }
    #footer{
        padding-bottom: 10px !important;
    }
    #footer .fotter-social {
        margin: 30px 20px !important;
    }
}

@media (max-width: 991px) {
    .navbar-collapse {
        background-color: white;
        padding: 10px;
        margin-top: 5px;
    }

    #home .intro-text {
        padding-top: 200px !important;
        padding-bottom: 100px !important;
    }

    #home h1 {
        font-size: 40px !important;
    }
    .background{
        background-size: auto  150%  !important;
    }

    #download .appgalleryCard,
    #download .androidCard,
    #download .iosCard {
        margin: 0 !important;
    }
}